
<div class="">
  User {{ model.name }} has {{ model.paymentMethods.length }} payment method(s)
</div>

<hr>

{{#each model.paymentMethods as |method|}}
  <div class="">
     {{ method.modelName }} with an id of {{ method.id }}
  </div>
{{/each}}

{{outlet}}
